/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

.menu{
    display: flex;
    width: auto;
    margin: 16px;
    align-items: center;
    justify-content: space-between;
}

.menu__header{
    display: flex;
}

.menu__header img{
    width: 24px;
    height: 24px;
}

.menu__title{
    width: 100px;
    font-size: 12px;
    margin: 0;
    padding: 0px 0px 5px 5px;
}

.menu__list{
    display: none;
}

.menu__list__item__contato{
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

/*Sección Title*/

.title{
    display: flex;
    width: auto;
}

.title__div{
    width: auto;
    margin: 16px;
}

.title__profile{
    width: 98px;
    height: 98px;
    border-radius: 50%;
}

.title__container{
    height: 148;
    width: auto;
}

.title__bio{
    font-size: 22px;
}

.title__subsection{
    font-size: 14px;
    font-weight: normal;
}

.title__network{
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 8px;
    margin-top: 16px;
    margin-bottom: 0;
}

.title__network__item{
    font-size: 14px;
    order: -1;
}

/*Sección About*/

.about{
    display: flex;
    width: auto;
    background: #EAF2FD;
}

.about__container{
    display: flex;
    width: auto;
    margin: 16px;
    flex-direction: column;
}

.about__container img{
    height: 52px;
    width: 140px;
}

.about__title{
    font-weight: bold;
    font-size: 22px;
    height: 26px;
    margin: 0px; 
}

.about__paragraph{
    font-weight: normal;
    font-size: 14px;
    margin: 16px 0px;
}

/*Sección Skills*/

.skills{
    display: flex;
    width: auto;
    flex-direction: column;
}

.skills__title{
    display: flex;
    margin-top: 16px;
    margin-bottom: 0;
    height: 26px;
    justify-content: center;
}

.skills__line{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 16px;
    margin-top: 0;
}

.skills__box{
    display: flex;
    height: 118px;
    width: 156px;
    align-items: flex-end;
    background-color: #FFFFFFFF;
    margin-top: 16px;
}

.skills__box ul{
    padding: 0%;
    margin: 16px;
}

.skills__img{
    width: 24px;
    height: 37px;
    margin-bottom: 8px;
}

.skills__name{
    display: flex;
    height: 19px;
    font-weight: bold;
    font-size: 16px;
}


/*Sección Hobbies*/
.hobbies {
    display: flex;
    width: auto;
    flex-direction: column;
}

.hobbies__title{
    display: flex;
    margin-top: 16px;
    margin-bottom: 0;
    height: 26px;
    justify-content: center;
}

.hobbies__line{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 16px;
}

.hobbies__box{
    display: flex;
    height: 118px;
    width: 156px;
    align-items: flex-end;
    background-color: #FFFFFFFF;
    margin-top: 16px;
}

.hobbies__box ul{
    margin: 16px;
   padding: 0%;
}

.hobbies__img{
    width: 32px;
    height: 32px;
    margin-bottom: 8px;
}

.hobbies__name{
    font-weight: bold;
    font-size: 16px;
    width: 124px;
    height: 19px;
}

/* Experiencia Académica*/

.academic{
    display: flex;
    background: #EAF2FD;
    width: auto;
    flex-direction: column;
}

.academic__title{
    display: flex;
    margin-top: 16px;
    margin-bottom: 0;
    height: 26px;
    justify-content: center;
}

.academic__courses{
    display: flex;
    flex-wrap: wrap;
    margin: 32px;
    gap: 16px;
}

.academic__courses__box{
    display: flex;
    width: 296px;
    height: 169px; 
}

.academic__courses__list{
    display: flex;
    width: 296px;
    height: 118px;
    flex-direction: column;
}

.academic__courses__list{
    display: flex;
    padding: 0;
    width: 296px;
    height: 169px;
    margin: 0;
    gap: 8px;
}

.academic__courses__item__img{
    display: flex;
    width: 296px;
    height: 118px;
    background: #FFFFFFFF;
    justify-content: center;
    align-items: center;
}

.academic__courses__item__img img{
    width: 84px;
    height: 58px;
}

.academic__courses__item__title{
    height: 19px;
}

.academic__courses__item__title h4{
    margin: 0;
}

.academic__courses__item__subtitle{
    height: 16px;
}

.academic__courses__item__subtitle p{
    margin: 0;
}
/* experiencia*/

.experience{
    display: flex;
    width: auto;
    flex-direction: column;
}

.experience__section__title{
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 0;
    height: 26px;
}

.experience__box{
    display: flex;
    height: 251px;
    margin: 32px;
    flex-wrap: wrap;
    flex-direction: column;
}

.experience__box_1{
    display: flex;
    margin: 32px;
    flex-wrap: wrap;
    flex-direction: column;
}

.experience__img{
    height: 144px;
}

.experience__info{
    height: 91px;
    margin-top: 16px;
}

.experience__title{
    font-weight: bold;
    font-size: 16px;
}

.experience__text{
    font-weight: normal;
    font-size: 14px;
    margin: 8px 0;
}

.experience__description{
    display: flex;
    height: 40px;
    align-items: center;
    gap: 16px;
}

.experience__repo{
    display: flex;
    height: 40px;
    width: 108px;
    
}

.experience__demo{
    display: flex;
    height: 40px;
    width: 96px;
}

.experiencia__botao--repo{
    color: #2A7AE4;
    border-color: #2A7AE4;
    font-size: 14px;
    width: 108px;
    height: 40px;
}

.experience__botao--demo{
    background-color: #2A7AE4;
    color: #FFFFFFFF;
    font-size: 14px;
    width: 96px;
    height: 40px;
}

/*Contacto*/

.formcontato{
    display: flex;
    width: auto;
    background: #EAF2FD;
}

.formcontato__contacto{
    display: flex;
    width: auto;
    margin: 32px;
    height: 611px;
}

.formcontato__img{
    display: none;
}

.formcontato__text{ 
    height: 110px;
}

.formcontato__title{
    margin-bottom: 8px;
    margin-top: 0;
    font-size: 22px;
    font-weight: bold;
}

.formcontato__subtext{
    margin: 0;
    font-size: 16px;
}

.formcontato__form{
    display: flex;
    gap: 32px;
    margin-top: 32px;
    flex-direction: column;
}

.formcontato__input{
    display: flex;
    height: 56px;
    width: 296px;
}

.formcontato__textarea{
    height: 133px;
    width: 296px;
}

.formcontato__botao{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2A7AE4;
    width: 133px;
    height: 40px;
    color: #FFFFFFFF; 
    font-size: 14px;
    border: none;
}

/*footeer*/

.footer{
    width: auto;
    display: flex;
    height: 102px;
}

.footer__rodape{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 32px;
}

.footer__rodape p{
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*-------------------------Tablet-------------------------*/
@media (min-width: 768px) {

/* Menú */
.menu{
    margin: 16px 32px;
    height: 24px;
}

.menu__header{
    width: 300px;
    align-items: center;
}

.menu__title{
    width: 300px;
    font-size: 16px;
}

.menu__list__item__contato{
    font-size: 16px;
}

/*title*/
.title__div{
    display: flex;
    flex-direction: row-reverse;
    margin: 32px;
    gap: 32px;
    align-items: center;
}

.title__profile{
    width: 146px;
    height: 146px;
}

.title__bio{
    font-size: 22px;
    margin: 0;
}

/*About*/
.about__container{
    margin: 32px;
}

/*Skills*/
.skills__box{
    width:  224px;
    margin-top: 32px;
}

.skills__title{
    margin-top: 32px;
}

.skills__line{
    margin: 32px;
    margin-top: 0;
}

/*Hobbies*/
.hobbies__box{
    width:  224px;
    margin-top: 32px;
}

.hobbies__title{
    margin-top: 32px;
}

.hobbies__line{
    margin: 32px;
    margin-top: 0;
}

/*Formación Académica*/
.academic__title{
    margin-top: 32px;
}

.academic__courses{
    margin: 32px;
}

.academic__courses__box{
    width: 224px;
}

.academic__courses__item__img{
    width: 224px;
}

/*Experiencia Profesional*/
.experience__box{
    margin: 16px 32px 64px 32px;
    height: 427px;
}

.experience__box_1{
    margin: 16px 32px 32px 32px;
    height: 427px;
}

.experience__img{
    height: 320px;
}

/*Formato*/
.formcontato__input{
    width: 704px;
}

.formcontato__textarea{
    width: 704px;
}
}

/*-------------------------Desktop-------------------------*/
@media (min-width: 1440px) {

/* Menú */
.menu{
    height: 88px;
    margin-left: 10%;
    margin-right: 10%;
}

.menu__list{
    display: inline flex;
    gap: 10px;
}

.menu__list__item__contato{
    display: none;
}

/*title*/
.title{
    height: 368px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 32px;
}

.title__profile{
    width: 368px;
    height: 368px;
}

.title__bio{
    font-size: 52px;
}
 
.title__subsection{
    font-size: 22px;
}

.title__network{
    font-size: 16px;
}
        
/*About*/
.about{
    margin-top: 32px;
    padding: 64px;
}

.about__title{
    font-size: 32px;
}

.about__paragraph{
    font-size: 16px;
}

.about__container{
    margin-left: 10%;
    margin-right: 10%;
    padding-right: 30%;
}
        
/*Skills*/
.skills{
    margin-bottom: 88px;
    margin-left: 10%;
    margin-right: 10%;
}

.skills__title{
    font-size: 32px;
}

.skills__line{
    margin: 0;
}

.skills__box{
    width: 176px;
    height: 174px;
}
/*Hobbies*/
.hobbies{
    margin-bottom: 88px;
    margin-left: 10%;
    margin-right: 10%;
}

.hobbies__title{
    font-size: 32px;
}

.hobbies__line{
    margin: 0;
}

.hobbies__box{
    width: 176px;
    height: 174px;
}

/*Formación Académica*/
.academic__title{
    font-size: 32px;
    margin-top: 88px;
}

.academic__courses{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 88px;
}

.academic__courses__box{
   width: 368px;
   height: 347px; 
}

.academic__courses__list{
    width: 368px;
    height: 347px; 
}

.academic__courses__item__img{
    width: 368px;
    height: 347px; 
}

.academic__courses__item__img img{
    width: 192px;
    height: 130px;
}

/*Experiencia Profesional*/
.experience{
    margin-left: 10%;
    margin-right: 10%;
    gap: 64px;
}

.experience__title{
    font-size: 32px;
}

.experience__box{
    flex-direction: row;
    align-items: center;
    margin: 0;
}

.experience__box_1{
    flex-direction: row-reverse;
    align-items: center;
    margin: 0;
}

.experience__box:nth-child(odd){
    flex-direction: row-reverse;
}


.experience__info{
    margin-left: 16px;
}


/*Formato*/
.formcontato{
    width: 1440px;
}

.formcontato__contacto{
   margin-top: 64px;
}

.formcontato__title{
    font-size: 32px;
}

.formcontato__img{
    display: flex;
    margin-right: 16px;
}

.formcontato__input{
    width: 656px;
    height: 56px;
}

.formcontato__textarea{
    width: 656px;
}

}